// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$background-purple: #3A0C5F;
$outline-brown:#7D490C;



@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:500,600,700&display=swap');

html, body, .v-application {
  font-family:'Quicksand', sans-serif;
  overflow:auto;
  height:100%;
  font-size:14px;
}

.flex-row-wrap {
  flex-flow:row wrap;
}

.nverseContent {
  padding-top:60px;
  min-height:calc(100vh - 60px);
}